body
background:linear-gradient(to right, rgba(238, 200, 177, 0.5), rgba(238, 200, 177, 0.5)),
    url("/FINAL-PROJECT/img/sunset.jpeg");
    background-size:100%;
    background-repeat:no-repeat;
    background-color: